
# Ignore Python virtual environments
.venv

# Ignore Python cache
__pycache__/
# Do NOT ignore the bot/ directory or any .py files


# Ignore all Python compiled files
*.pyc
*.pyo
*.pyd

# Ignore local environment files
.env

# Ignore database files
*.sqlite3



# Ignore Docker-related files that shouldn't be in the build context
.dockerignore

# Ignore git
.gitattributes
